<#import "/spring.ftl" as spring>
<#macro render dir="ltr">
<!doctype html>
<html lang="${.locale}" dir="${dir}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>title</title>
    <style>
        .container {
            width: 600px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <form action="" method="get">
                <label for="lang_select">
                    <@spring.message "label.language" />:
                </label>
                <select name="lang" id="lang_select">
                    <option value="">Default</option>
                    <option value="" disabled>----------</option>
                    <option value="en-GB">British English</option>
                    <option value="en-US">American English</option>
                    <option value="ru-RU">Русский</option>
                    <option value="ar-AE">العربية</option>
                    <option value="fr-CH">Français la Suisse</option>
                </select>
                <button type="submit">
                    <@spring.message "button.language-change.text" />
                </button>
            </form>
        </div>

        <#nested>
        <p>текущая локаль: ${.locale}</p>
        <hr>
        <h2>Локализация ошибок валидации</h2>
        <form action="/register" method="post">
            <div>
                <label class="flex flex-v-center">
                    <p class="label-input-text">Имя:</p>
                    <input type="text" name="name" placeholder="ваше имя"  value="${(dto.name)!''}">
                </label>
            </div>
            <div>
                <label class="flex flex-v-center">
                    <p class="label-input-text">Адрес почты:</p>
                    <input type="text" name="email" placeholder="ваш адрес почты"  value="${(dto.email)!''}" >
                </label>
            </div>
            <div>
                <label class="flex flex-v-center">
                    <p class="label-input-text">Пароль:</p>
                    <input type="text" name="password" placeholder="пароль"  value="">
                </label>
            </div>
            <div>
                <button type="submit">Регистрация</button>
            </div>
            <div>
                <#if errors?? >
                    <p>Входные данные с ошибками!</p>
                    <#list errors as fieldError>
                        <p>${fieldError.field} - <@spring.messageText fieldError.codes[0] fieldError.defaultMessage /> </p>
                    </#list>
                </#if>
            </div>
        </form>
        <hr>
        <h2>Форматы чисел</h2>
        <p>число: <span>${amount}</span></p>
        <p>валюта: </p><span>${amount?string.currency}</span>
        <p>процентный: <span>${amount?string.percent}</span></p>
        <p>компьютерный: <span>${amount?c}</span></p>
        <hr>
        <h2>Форматы даты</h2>
        <#assign dt = .now?date>
        <p>${dt?string.short}</p>
        <p>${dt?string.medium}</p>
        <p>${dt?string.long}</p>
        <p>${dt?string.full}</p>
        <p>${dt?string.iso}</p>
        <p>${dt?iso_utc}</p>

        <hr>
        <h2>Форматы времени</h2>
        <#assign dt = .now?time>
        <p>${dt?string.short}</p>
        <p>${dt?string.medium}</p>
        <p>${dt?string.long}</p>
        <p>${dt?string.full}</p>
        <p>${dt?string.iso}</p>
        <p>${dt?iso_utc}</p>

        <hr>
        <h2>Форматы даты и времени</h2>
        <#assign dt =.now>
        <p>${dt?string.short}</p>
        <p>${dt?string.medium}</p>
        <p>${dt?string.medium_short}</p>
        <p>${dt?string.long}</p>
        <p>${dt?string.full}</p>
        <p>${dt?string.iso}</p>
        <p>${dt?iso_utc}</p>

    </div>
</body>
</html>

</#macro>